html::-webkit-scrollbar {
	display: none !important
}
#inactiveLayer {
	display:none;
	position: fixed;
	z-index: 1000000000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
body.inactive #inactiveLayer {
	display:block;
}
